/* переменные цвета */
/* анимация */
@-webkit-keyframes btn_shadow_on {
  from {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  to {
    -webkit-box-shadow: 5px 5px 5px #a03131;
            box-shadow: 5px 5px 5px #a03131;
  }
}
@keyframes btn_shadow_on {
  from {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  to {
    -webkit-box-shadow: 5px 5px 5px #a03131;
            box-shadow: 5px 5px 5px #a03131;
  }
}
@-webkit-keyframes btn_shadow_off {
  from {
    -webkit-box-shadow: 5px 5px 5px #a03131;
            box-shadow: 5px 5px 5px #a03131;
  }
  to {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@keyframes btn_shadow_off {
  from {
    -webkit-box-shadow: 5px 5px 5px #a03131;
            box-shadow: 5px 5px 5px #a03131;
  }
  to {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@-webkit-keyframes block_on {
  from {
    display: none;
    opacity: 0;
  }
  90% {
    opacity: 90%;
  }
  to {
    display: block;
  }
}
@keyframes block_on {
  from {
    display: none;
    opacity: 0;
  }
  90% {
    opacity: 90%;
  }
  to {
    display: block;
  }
}
@-webkit-keyframes block_off {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes block_off {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
/* основоной блок */
html {
  margin: 0;
  padding: 0;
}
body {
  width: 1016px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 48px;
  background-color: #0123e4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main {
  width: 100%;
  min-height: 700px;
  background-color: #f9ebe8;
}
.main_nav {
  width: 100%;
  height: 90px;
}
.congratulate {
  width: 100%;
}
.congratulate_them,
.congr_select_him,
.congr_select_her,
.congr_select_group {
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 100px 0;
  -webkit-animation: block_on 1.5s;
          animation: block_on 1.5s;
}
.congr,
.who {
  width: 200px;
  height: 50px;
  border: 1px solid #ec2e2e;
  background-color: #ec2e2e;
  border-radius: 20px;
  margin: 20px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-animation: btn_shadow_off 0.5s;
          animation: btn_shadow_off 0.5s;
}
.congr:hover,
.who:hover {
  -webkit-animation: btn_shadow_on 0.5s;
          animation: btn_shadow_on 0.5s;
  -webkit-box-shadow: 5px 5px 5px #a03131;
          box-shadow: 5px 5px 5px #a03131;
}
.congr:active,
.who:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.comgratulate_text {
  width: 100%;
  min-height: 50px;
  font-size: 24px;
  padding: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
footer {
  width: 100%;
  min-height: 68px;
  border-top: 1px solid #8262ab;
  background-color: #f9ebe8;
}
/*  выключение блока */
.off_block {
  -webkit-animation: block_off 5s;
          animation: block_off 5s;
  visibility: hidden;
}
.off_block_off {
  -webkit-animation: block_off 5s;
          animation: block_off 5s;
  display: none;
}
.off_color {
  background-color: #ccc;
  color: #fff;
  border: 1px solid #ccc;
}
