/* переменные цвета */
@colorBGHead    : #0123e4;
@colorBGMain    : #f9ebe8;
@colorBTN       : #ec2e2e;
@colorLineFooter: #8262ab;
@colorShadowBTN : #a03131;

/* анимация */

@keyframes btn_shadow_on {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: 5px 5px 5px @colorShadowBTN;
    }
}

@keyframes btn_shadow_off {
    from {
        box-shadow: 5px 5px 5px @colorShadowBTN;
    }

    to {
        box-shadow: none;
    }
}

@keyframes block_on {
    from {
        display: none;
        opacity: 0;
    }

    90% {
        opacity: 90%;
    }

    to {
        display: block;
    }
}

@keyframes block_off {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

/* основоной блок */
html {
    margin : 0;
    padding: 0;
}

body {
    width : 1016px;
    margin: 0 auto;
}

header {
    width           : 100%;
    height          : 48px;
    background-color: @colorBGHead;
    box-sizing      : border-box;
}

main {
    width           : 100%;
    min-height      : 700px;
    background-color: @colorBGMain;
}



.main_nav {
    width : 100%;
    height: 90px;
}

.congratulate {
    width: 100%;
}

.congratulate_them,
.congr_select_him,
.congr_select_her,
.congr_select_group {
    width          : 100%;
    min-height     : 100px;
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-around;
    margin         : 0 0 100px 0;
    animation      : block_on 1.5s;
}

.congr,
.who {
    width           : 200px;
    height          : 50px;
    border          : 1px solid @colorBTN;
    background-color: @colorBTN;
    border-radius   : 20px;
    margin          : 20px;
    padding         : 15px;
    box-sizing      : border-box;
    text-align      : center;
    text-transform  : uppercase;
    cursor          : pointer;
    animation       : btn_shadow_off 0.5s;
}

.congr:hover,
.who:hover {
    animation : btn_shadow_on 0.5s;
    box-shadow: 5px 5px 5px @colorShadowBTN;
}

.congr:active,
.who:active {
    box-shadow: none;
}

.comgratulate_text {
    width     : 100%;
    min-height: 50px;
    font-size : 24px;
    padding   : 20px;
    text-align: center;
    box-sizing: border-box;
}

footer {
    width           : 100%;
    min-height      : 68px;
    border-top      : 1px solid @colorLineFooter;
    background-color: @colorBGMain;
}

/*  выключение блока */
.off_block {
    animation : block_off 5s;
    visibility: hidden;

}

.off_block_off {
    animation: block_off 5s;
    display  : none;
}

.off_color {
    background-color: #ccc;
    color           : #fff;
    border          : 1px solid #ccc;
}