body {
    margin: 0;
    padding: 0;
    width: 1920px;
}

main {
    width: 100%;
    margin: 0 auto;
    min-height: 700px;
    border: 1px solid #000;
}

.block_1 {
    width: 70%;
    margin: 0 auto;
    min-height: 350px;
    border: 2px solid rgba(196, 99, 9, 0.692);
}

.sec_1 {
    padding: 20px;
}

.block_2 {
    width: 70%;
    margin: 0 auto;
    min-height: 350px;
    border: 2px solid rgba(72, 94, 12, 0.692);
}